---
import { Image } from "astro:assets";
import * as ReactIcons from "react-icons/hi2";
import HeroImage from "../assets/images/hero/hero.jpg";
import AstroImage from "../assets/images/technologies/astro.svg";
import CSSImage from "../assets/images/technologies/css.svg";
import HTMLImage from "../assets/images/technologies/html.svg";
import RailsImage from "../assets/images/technologies/rails.svg";
import ReactImage from "../assets/images/technologies/react.svg";
import Layout from "../layouts/Layout.astro";
import YachtIllustration from "../assets/images/illustrations/yacht.svg";
const { HiDevicePhoneMobile, HiShieldCheck, HiBolt } = ReactIcons;
---

<Layout title="RysthCraft | Software Developer | Professional Websites">
  <section
    class="p-4 bg-[var(--CL-primary-blue)] max-h-[34rem] sm:max-h-[39rem] md:max-h-[43rem] lg:max-h-[118vh] rounded-br-[30vw]"
  >
    <article class="max-w-screen-xl py-24 mx-auto space-y-10 md:py-32 lg:py-44">
      <header class="flex flex-col items-center gap-5 text-white">
        <h2
          class="inline-block max-w-screen-sm text-3xl font-bold text-center lg:max-w-screen-md sm:text-xl md:text-4xl lg:text-6xl"
        >
          Building <span class="mb-1 text-cyan-300">Amazing</span>
           Websites and Software Solutions
        </h2>
        <p
          class="max-w-screen-sm text-sm text-center text-gray-200 md:px-8 md:text-base"
        >
          Welcome to RysthCraft's Website. I'm John Palacios, a Software
          Developer, weaving digital sites with React, Astro, and Ruby on Rails.
        </p>
      </header>
      <main>
        <div class="flex items-center justify-center gap-3">
          <a
            href="https://github.com/Rysth"
            target="_blank"
            class="py-3 px-6 w-32 text-sm text-center border border-transparent text-[var(--CL-primary-blue)] duration-100 bg-white rounded-lg md:px-8 md:hover:bg-black md:hover:text-white md:transition"
          >
            GitHub
          </a>
          <a
            href="https://www.linkedin.com/in/john-palacios-rysthcraft/"
            target="_blank"
            class="w-32 px-6 py-3 text-sm text-center text-white duration-100 border rounded-lg md:px-8 md:hover:bg-black md:hover:border-transparent md:hover:text-white md:transition"
            >LinkedIn</a
          >
        </div>
      </main>
      <footer class="mx-auto">
        <Image
          src={HeroImage}
          alt="Hero Image"
          class="block w-full h-full max-w-4xl mx-auto shadow-xl rounded-xl"
        />
        <main
          class="flex flex-wrap items-center justify-center gap-5 mt-5 md:gap-12"
        >
          <Image
            src={HTMLImage}
            alt="HTML Image"
            class="w-8 transition duration-300 opacity-80 md:hover:opacity-100 sm:w-16"
          />
          <Image
            src={CSSImage}
            alt="CSS Image"
            class="w-8 transition duration-300 opacity-80 md:hover:opacity-100 sm:w-16"
          />
          <Image
            src={AstroImage}
            alt="Astro Image"
            class="w-8 transition duration-300 opacity-80 md:hover:opacity-100 sm:w-20"
          />
          <Image
            src={ReactImage}
            alt="React Image"
            class="w-8 transition duration-300 opacity-80 md:hover:opacity-100 sm:w-20"
          />
          <Image
            src={RailsImage}
            alt="Rails Image"
            class="w-20 transition duration-300 opacity-80 md:hover:opacity-100 sm:w-24"
          />
        </main>
      </footer>
    </article>
  </section>
  <section class="p-4">
    <article
      class="max-w-screen-xl pt-72 mx-auto space-y-20 sm:pt-[28rem] lg:pt-[30rem] pb-20"
    >
      <header class="mb-10 md:mb-16">
        <h2
          class="mb-4 text-2xl font-bold text-center text-gray-800 md:mb-6 sm:text-3xl"
        >
          Our Solution for Your Business
        </h2>

        <p
          class="max-w-screen-md mx-auto text-sm text-center text-gray-500 md:text-base"
        >
          Our commitment lies in delivering an array of high-quality web design
          and development services, tailored to the unique needs of our clients
          across the United States.
        </p>
      </header>
      <main
        class="grid justify-center max-w-screen-lg gap-5 mx-auto sm:grid-cols-3 sm:flex-row"
      >
        <div
          class="flex flex-col items-center justify-between p-4 border rounded-xl"
        >
          <div
            class="flex items-center justify-center mb-5 text-[var(--CL-primary-blue)] sm:mb-8 h-1/4"
          >
            <HiDevicePhoneMobile className="text-6xl" />
          </div>
          <h3 class="mb-2 text-lg font-semibold text-center md:text-xl h-1/4">
            Mobile-First Design
          </h3>
          <p class="max-w-sm mb-2 text-sm text-center text-gray-500 h-2/4">
            We ensure your website looks great and works flawlessly on all
            devices, providing an optimal experience for every visitor.
          </p>
        </div>
        <div
          class="flex flex-col items-center justify-between p-4 border rounded-xl"
        >
          <div
            class="flex items-center justify-center mb-5 text-[var(--CL-primary-blue)] sm:mb-8 h-1/4"
          >
            <HiShieldCheck className="text-6xl" />
          </div>
          <h3 class="mb-2 text-lg font-semibold text-center md:text-xl h-1/4">
            Secure and Reliable
          </h3>
          <p class="max-w-sm mb-2 text-sm text-center text-gray-500 h-2/4">
            Prioritizing your website's security and uptime, we implement robust
            security measures and reliable hosting solutions.
          </p>
        </div>
        <div
          class="flex flex-col items-center justify-between p-4 border rounded-xl"
        >
          <div
            class="flex items-center justify-center mb-5 text-[var(--CL-primary-blue)] sm:mb-8 h-1/4"
          >
            <HiBolt className="text-6xl" />
          </div>
          <h3 class="mb-2 text-lg font-semibold text-center md:text-xl h-1/4">
            Speed Optimized
          </h3>
          <p class="max-w-sm mb-2 text-sm text-center text-gray-500 h-2/4">
            Each site boasts hand-written code and efficient design, ensuring
            rapid load times, improved user satisfaction, and enhanced SEO
            rankings.
          </p>
        </div>
      </main>
    </article>
  </section>
  <section class="p-4">
    <article class="max-w-screen-xl mx-auto">
      <main class="grid sm:grid-cols-2">
        <Image src={YachtIllustration} alt="Yatch Illustration" />
      </main>
    </article>
  </section>
</Layout>
