---
import Project1 from "../../../assets/images/projects/project_1.png";
import Project2 from "../../../assets/images/projects/project_2.png";
import Project3 from "../../../assets/images/projects/project_3.png";
import Card from "../../../components/ui/Card/Card.astro";
import Link from "../../../components/ui/Link/Link.jsx";
import { FaArrowRight, FaBars } from "react-icons/fa";

const projectsData = [
  {
    id: "1",
    title: "UpdateEC",
    technology: "React",
    imagePreview: Project1,
    previewLink: "https://updateec.netlify.app/",
    gitHublink: "https://github.com/Rysth/REACT-UpdateEC",
  },
  {
    id: "2",
    title: "JP Refrigeración",
    technology: "Astro",
    imagePreview: Project2,
    previewLink: "https://jprefrigeracion.netlify.app/",
    gitHublink: "https://github.com/Rysth/ASTRO-JPRefrigeracion",
  },
  {
    id: "3",
    title: "SmartCommerce",
    technology: "React",
    imagePreview: Project3,
    previewLink: "https://react-smartcommerce.onrender.com/",
    gitHublink: "https://github.com/Rysth/REACT-eCommerce",
  },
];
---

<section
  class="container max-w-screen-xl p-4 py-16 mx-auto text-white lg:py-28 animate__animated animate__fadeIn"
>
  <header class="flex items-center justify-between mb-10">
    <h2
      class="text-xl font-bold text-center md:text-3xl lg:text-3xl md:text-left tracking-in-expand"
    >
      Featured Projects
    </h2>
    <Link route="/projects" classVariant="text-sm" target="">
      See All
      <FaArrowRight />
    </Link>
  </header>
  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4 md:gap-8 lg:gap-10">
    {
      projectsData
        .slice(0, 4)
        .map((project) => (
          <Card
            title={project.title}
            technology={project.technology}
            imagePreview={project.imagePreview}
            previewLink={project.previewLink}
            gitHubLink={project.gitHublink}
          />
        ))
    }
  </div>
</section>
