---
import { Image } from "astro:assets";
import { FaStar, FaGithub } from "react-icons/fa";
import Link from "../Link/Link.astro";

interface Props {
  imagePreview: string;
  title: string;
  technology: string;
  previewLink: string;
  gitHubLink: string;
}

const { imagePreview, title, technology, previewLink, gitHubLink } =
  Astro.props;
---

<article>
  <a href={previewLink} target="_blank" rel="noopener noreferrer">
    <Image
      src={imagePreview}
      alt={title}
      class="object-cover object-center transition-transform rounded-xl md:hover:-translate-y-3"
    />
  </a>
  <header class="flex items-center justify-between mt-3">
    <p class="font-bold truncate max-w-[12rem]">{title}</p>
    <p class="font-bold uppercase">{technology}</p>
  </header>
  <hr class="my-2 h-[1px] border-none bg-gray-500" />
  <ul class="grid gap-2 py-2">
    <li class="flex items-center justify-between text-xs">
      <p class="flex items-center gap-2">
        <FaStar className="text-sm" />
         Preview
      </p>
      <Link
        text="Watch"
        route={previewLink}
        classVariant="p-2 rounded-lg px-4 btn-gradient border"
      />
    </li>
    <li class="flex items-center justify-between text-xs">
      <p class="flex items-center gap-2">
        <FaGithub className="text-sm" />
         GitHub
      </p>
      <Link
        text="Watch"
        route={gitHubLink}
        classVariant="p-2 rounded-lg px-4 btn-secondary"
      />
    </li>
  </ul>
</article>
