---
interface Props {
  imageSource: string;
  title: string;
  technology: string;
  previewLink: string;
  gitHubLink: string;
}

const { imageSource, title, technology, previewLink, gitHubLink } = Astro.props;
---

<div class="w-full slide-in-blurred-bottom tracking-in-expand">
  <a href={previewLink} target="_blank" rel="noopener noreferrer">
    <img
      class="object-cover object-center transition-transform rounded-xl md:hover:-translate-y-3"
      src={imageSource}
      alt={title}
    />
  </a>
  <div class="flex justify-between my-3 md:text-base">
    <p class="font-bold truncate max-w-[12rem]">{title}</p>
    <p class="font-bold uppercase">{technology}</p>
  </div>
  <hr class="my-2 h-[1px] border-none bg-gray-500" />
  <ul class="grid gap-2 py-2">
    <li class="flex items-center justify-between text-xs">
      <p>
        <i class="w-3 mr-2 fa-solid fa-star"></i>
         Live
      </p>
      <a
        href={previewLink}
        target="_blank"
        rel="noopener noreferrer"
        class="border btn btn-primary btn-badge"
      >
        Watch
      </a>
    </li>
    <li class="flex items-center justify-between text-xs">
      <p>
        <i class="w-3 mr-2 fa-brands fa-github"></i>
         GitHub
      </p>
      <a
        href={gitHubLink}
        target="_blank"
        rel="noopener noreferrer"
        class="border btn btn-badge"
      >
        Watch
      </a>
    </li>
  </ul>
</div>
